<script src="../../../pages/products/products.component.ts"></script>
<form [formGroup]="form" class="row mb-4">
    <div>
        <h2 class="mb-0">Add Category</h2>
    </div>
    <div class="mb-2 col-6">
        <label class="mb-1" for="name">Name*</label>
        <input id="name" formControlName="name" type="text" class="form-control">
        @if (form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
            <p class="text-danger my-1">Category is required</p>
        }
    </div>
    <div class="mb-2 col-6">
        <label class="mb-1" for="description">Description*</label>
        <input id="description" formControlName="description" type="text" class="form-control">
        @if (form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)) {
            <p class="text-danger my-1">Description is required</p>
        }
    </div>

    <div class="col-12">
        <button (click)="callSave()" [disabled]="form.invalid" class="btn btn-primary" type="button">Save</button>
    </div>
</form>
